<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Cài đặt tài khoản đã được lưu</title>
	<link rel="stylesheet" type="text/css" th:href="@{/CSS/account-layout.css}">
</head>
<body>

<div class="container">
	<h3>Cài đặt tài khoản đã được lưu</h3>

	<div class="row">
		<div class="col-50">
			<form th:action="@{/admin/manageaccounts}" method="GET">
				<input type="submit" value="Quay lại">
			</form>
		</div>
	</div>

</div>

</body>
</html>
