<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Quản lý tài khoản</title>
	<link rel="stylesheet" type="text/css" th:href="@{/CSS/account-layout.css}">
</head>
<body>
<ul th:replace="page-layout :: adminNavBar"></ul>

<div class="container">
	<h3>Quản lý Tài khoản</h3>

	<div class="row">
		<form th:action="@{/admin/manageaccounts}" method="GET">
			<div class="col-25">
				<label for="firstName">Họ</label>
			</div>
			<div class="col-75">
				<input type="text" id="firstName" name="firstName" th:value="${firstName}">
			</div>

			<div class="col-25">
				<label for="lastName">Tên</label>
			</div>
			<div class="col-75">
				<input type="text" id="lastName" name="lastName" th:value="${lastName}">
			</div>
			<div>
				<input type="submit" value="Tìm kiếm">
			</div>
		</form>
	</div>
	<br/>

	<table th:if="${users.size > 0}" id="tablestyle">
		<tr>
			<th>Tên người dùng</th>
			<th>Họ</th>
			<th>Tên</th>
			<th>Email</th>
			<th>Số điện thoại</th>
			<th>Địa chỉ</th>
			<th>Thành phố</th>
			<th>Vai trò</th>
			<th style="width: 100px">Chọn tài khoản</th>
		</tr>
		<tr th:each="user : ${users}">
			<td th:text="${user.userName}"></td>
			<td th:text="${user.firstName}"></td>
			<td th:text="${user.lastName}"></td>
			<td th:text="${user.email}"></td>
			<td th:text="${user.phoneNumber}"></td>
			<td th:text="${user.address}"></td>
			<td th:text="${user.City}"></td>
			<td>
				<text th:if="${user.role.equals('ROLE_USER')}">NGƯỜI DÙNG</text>
				<text th:if="${user.role.equals('ROLE_EMPLOYEE')}">NHÂN VIÊN</text>
				<text th:if="${user.role.equals('ROLE_ADMIN')}">QUẢN TRỊ VIÊN</text>
			</td>
			<td>
				<form th:action="@{/admin/manageaccount}" method="GET">
					<input type="submit" value="Chọn" class="table">
					<input type="hidden" th:value="${user.userId}" name="userId">
				</form>
			</td>
		</tr>
	</table>
</div>
</body>
</html>
