<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">

	<title>Không thể gia hạn ngày trả</title>
	<link rel="stylesheet" type="text/css" th:href="@{/CSS/account-layout.css}">
</head>
<body>

<div class="container">
	<h3>Không thể gia hạn ngày trả sách</h3>

	<p>Ngày trả sách mà bạn đang cố gắng gia hạn không thể được gia hạn. Những lý do có thể bao gồm:
		<br/><br/>
		- Đã đạt đến thời gian sử dụng tối đa.<br/>
		- Ngày trả đã được gia hạn thêm 3 tuần.<br/>
		- Đã có người khác đặt trước cuốn sách này.<br/><br/>

		Vui lòng đảm bảo trả sách đúng hạn cho thư viện.
	</p>

	<div class="row">
		<form th:action="@{/user/yourbooks}" method="GET">
			<input style="width: 150px" type="submit" value="Quay lại trước đó">
		</form>
	</div>

</div>

</body>
</html>
