<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Yêu cầu đặt sách của bạn</title>
	<link rel="stylesheet" type="text/css" th:href="@{/CSS/account-layout.css}">
</head>
<body>
<ul th:replace="page-layout :: userNavBar"></ul>
<div class="container">

	<h3>Yêu cầu đặt sách</h3>

	<p th:if="${reservedBooks.size() == 0}">Bạn không có yêu cầu đặt sách nào</p>

	<table th:if="${reservedBooks.size() > 0}" id="tablestyle">
		<tr>
			<th>Tiêu đề</th>
			<th>Tác giả</th>
			<th>Năm phát hành</th>
			<th>Ấn bản</th>
			<th>Đặt từ ngày</th>
			<th>Đến ngày</th>
		</tr>
		<tr th:each="book : ${reservedBooks}">
			<td th:text="${book.title}"></td>
			<td th:text="${book.author}"></td>
			<td th:text="${book.releaseYear}"></td>
			<td th:text="${book.edition}"></td>
			<td th:text="${book.startReservationDate}"></td>
			<td th:text="${book.endReservationDate}"></td>
		</tr>
	</table>

</div>
</body>
</html>
