<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
<title>FAQ</title>
<link rel="styleSheet" type="text/css" th:href="@{/CSS/account-layout.css}">
</head>
<body>
	<ul th:replace="page-layout :: userNavBar"></ul>

	<div class="container">
		<h3>Hỏi Đáp (FAQ)</h3>

		<p>Có thắc mắc gì khác? Vui lòng liên hệ với chúng tôi qua email: <strong>252quanghuy@gmail.com</strong></p>

		<h4>Tôi có th mượn sách được bao lâu?</h4>
		<p>Bạn có thể mượn sách trong vòng 21 ngày. Thời gian mượn có thể được gia hạn mỗi lần 1 tuần, tối đa 3 lần. Việc gia hạn là miễn phí, nhưng chỉ áp dụng khi không có ai khác đã đặt trước cuốn sách đó. Bạn có thể kiểm tra tình trạng mượn sách trong tài khoản cá nhân của mình trên website thư viện.</p>

		<h4>Làm sao để tôi đặt trước sách?</h4>
		<p>Bạn hãy đăng nhập vào tài khoản thư viện cá nhân trên website, tìm kiếm sách và nhấn nút "Đặt sách". Mỗi lượt đặt sách có hiệu lực trong 7 ngày và tốn phí $1 cho mỗi cuốn. Nếu bạn không đến lấy sách sau 7 ngày, đơn đặt sẽ tự động bị hủy.</p>

		<h4>Điều gì xảy ra nếu tôi không trả sách đúng hạn?</h4>
		<p>Bạn sẽ bị phạt $0,20 mỗi ngày cho mỗi cuốn sách trễ hạn. Trong thời gian bạn chưa trả sách trễ, bạn sẽ không thể đặt sách mới hoặc nhận sách đã đặt.</p>

		<h4>Nếu tôi làm mất sách thì sao?</h4>
		<p>Vui lòng liên hệ bộ phận chăm sóc khách hàng của chúng tôi càng sớm càng tốt. Thư viện sẽ thu một khoản phí nhỏ tùy theo giá trị của cuốn sách bị mất.</p>
	</div>


</body>
</html>