<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Sách Đã Trả</title>
	<link rel="stylesheet" type="text/css" th:href="@{/CSS/account-layout.css}">
</head>
<body>

<ul th:replace="page-layout :: employeeNavBar"></ul>

<div class="container">
	<div th:if="${userId == null}">
		<h3>Sách Đã Trả</h3>

		<div class="row">
			<form th:action="@{/employee/returnedbooks}" method="GET">
				<div class="col-25">
					<label for="firstName">Tên</label>
				</div>
				<div class="col-75">
					<input type="text" id="firstName" name="firstName" th:value="${firstName}">
				</div>
				<div class="col-25">
					<label for="lastName">Họ</label>
				</div>
				<div class="col-75">
					<input type="text" id="lastName" name="lastName" th:value="${lastName}">
				</div>
				<div class="col-50">
					<input style="margin-top: 2px" type="submit" value="Tìm kiếm">
				</div>
			</form>
		</div>
		<br/>

		<div th:if="${users.size() > 0}">
			<table id="tablestyle">
				<tr>
					<th>Tên</th>
					<th>Họ</th>
					<th>Địa chỉ</th>
					<th>Thành phố</th>
					<th style="width: 160px">Chọn người dùng</th>
				</tr>
				<tr th:each="user : ${users}">
					<td th:text="${user.firstName}"></td>
					<td th:text="${user.lastName}"></td>
					<td th:text="${user.address}"></td>
					<td th:text="${user.city}"></td>
					<td>
						<form th:action="@{/employee/returnedbooks}" method="GET">
							<input class="table" style="margin-right: 10px" type="submit" value="Chọn người dùng">
							<input type="hidden" th:value="${user.userId}" th:name="userId">
							<input type="hidden" th:value="${firstName}" th:name="firstName">
							<input type="hidden" th:value="${lastName}" th:name="lastName">
						</form>
					</td>
				</tr>
			</table>
		</div>
	</div>

	<div th:if="${userId != null}">
		<h3>Người dùng đã chọn</h3>

		<div class="row">
			<div class="col-25">
				<text>Tên:</text>
			</div>
			<div class="col-50">
				<text th:text="${user.firstName + ' ' + user.lastName}"></text>
			</div>
		</div>
		<div class="row">
			<div class="col-25">
				<text>Địa chỉ:</text>
			</div>
			<div class="col-50">
				<text th:text="${user.address}"></text>
			</div>
		</div>

		<div class="row">
			<div class="col-25">
				<text>Thành phố:</text>
			</div>
			<div class="col-50">
				<text th:text="${user.city}"></text>
			</div>
		</div>
	</div>
</div>

<div th:if="${user != null}" class="container">
	<h3>Chọn sách đã trả</h3>

	<Label th:if="${booksInUseByUser.size() == 0}">Không có sách nào đang sử dụng bởi người dùng này.</Label>

	<table id="tablestyle" th:if="${booksInUseByUser.size() > 0}">
		<tr>
			<th>Tiêu đề</th>
			<th>Tác giả</th>
			<th>Năm phát hành</th>
			<th>Ấn bản</th>
			<th>Ngày trả</th>
			<th>Tiền phạt</th>
			<th style="width: 125px">Chọn sách</th>
		</tr>
		<tr th:each="book : ${booksInUseByUser}">
			<td th:text="${book.key.title}"></td>
			<td th:text="${book.key.author}"></td>
			<td th:text="${book.key.releaseYear}"></td>
			<td th:text="${book.key.edition}"></td>
			<td th:text="${book.key.returnDate}"></td>
			<td>
				<text th:if="${book.value > 0}" th:text="${'$ ' + book.value}" style="color: red"></text>
				<text th:if="${book.value == 0}" th:text="${'$ ' + book.value}"></text>
			</td>
			<td>
				<form th:action="@{/employee/returnedbooks}" method="GET">
					<input type="submit" value="Chọn sách" class="table">
					<input type="hidden" th:value="${book.key.bookId}" name="selectedBookId">
					<input type="hidden" th:value="${user.userId}" name="userId">
					<input type="hidden" th:value="${selectedBookIds}" name="selectedBookIdsInString">
				</form>
			</td>
		</tr>
	</table>
</div>

<div th:if="${selectedBooks.size() > 0}" class="container">
	<h3>Sách đã chọn</h3>

	<table id="tablestyle">
		<tr>
			<th>Tiêu đề</th>
			<th>Tác giả</th>
			<th>Năm phát hành</th>
			<th>Ấn bản</th>
			<th>Ngày trả</th>
			<th>Tiền phạt</th>
			<th style="width: 150px">Xóa</th>
		</tr>
		<tr th:each="selectedBook : ${selectedBooks}">
			<td th:text="${selectedBook.key.title}"></td>
			<td th:text="${selectedBook.key.author}"></td>
			<td th:text="${selectedBook.key.releaseYear}"></td>
			<td th:text="${selectedBook.key.edition}"></td>
			<td th:text="${selectedBook.key.returnDate}"></td>
			<td th:text="${'$ ' + selectedBook.value}">
			<td>
				<form th:action="@{/employee/returnedbooks}" method="GET">
					<input type="submit" value="Xóa sách" style="background-color: red" class="table">
					<input type="hidden" th:value="${user.userId}" name="userId">
					<input type="hidden" th:value="${selectedBookIds}" name="selectedBookIdsInString">
					<input type="hidden" th:value="${selectedBook.key.bookId}" name="removeBookId">
				</form>
			</td>
		</tr>
	</table>

	<p>Tổng tiền phạt cần thanh toán: <text th:text="${'$ ' + fineToPay + '.'}"></text></p>

	<div class="row">
		<form th:action="@{/employee/confirmreturnedbooks}" method="GET">
			<input type="submit" value="Trả sách">
			<input type="hidden" th:value="${selectedBookIds}" name="selectedBookIdsInString">
			<input type="hidden" th:value="${user.userId}" name="userId">
			<input type="hidden" th:value="${fineToPay}" name="fineToPay">
		</form>
	</div>
</div>

</body>
</html>
