<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Thông tin người dùng</title>
	<link rel="stylesheet" type="text/css" th:href="@{/CSS/account-layout.css}">
</head>
<body>
<ul th:replace="page-layout :: employeeNavBar"></ul>
<div class="container">
	<h3>Thông tin người dùng</h3>

	<div class="row">
		<div class="col-50">
			Tên đăng nhập:
		</div>
		<div class="col-75">
			<text th:text="${user.userName}"></text>
		</div>
	</div>

	<div class="row">
		<div class="col-50">
			Tên:
		</div>
		<div class="col-75">
			<text th:text="${user.firstName}"/>
		</div>
	</div>


	<div class="row">
		<div class="col-50">
			Họ:
		</div>
		<div class="col-75">
			<text th:text="${user.lastName}"></text>
		</div>
	</div>

	<div class="row">
		<div class="col-50">
			Email:
		</div>
		<div class="col-75">
			<text th:text="${user.email}"></text>
		</div>
	</div>

	<div class="row">
		<div class="col-50">
			Địa chỉ:
		</div>
		<div class="col-75">
			<text th:text="${user.address}"></text>
		</div>
	</div>

	<div class="row">
		<div class="col-50">
			Thành phố:
		</div>
		<div class="col-75">
			<text th:text="${user.city}"></text>
		</div>
	</div>

	<div class="row">
		<div class="col-50">
			Số điện thoại:
		</div>
		<div class="col-75">
			<text th:text="${user.phoneNumber}"></text>
		</div>
	</div>

	<div class="row">
		<div class="col-50">
			Tổng phí phạt:
		</div>
		<div class="col-75" th:if="${fine > 0}">
			<text style="color:red" th:text="${'$ ' + fine}"></text>
		</div>

		<div class="col-75" th:if="${fine == 0}">
			<text th:text="${'$ ' + fine}"></text>
		</div>
	</div>

	<h4>Sách đang sử dụng</h4>

	<div th:if="${user.books.size() == 0}">
		Không có sách nào đang sử dụng.
	</div>
	<table id="tablestyle" th:if="${user.books.size() > 0}">
		<tr>
			<th>Tiêu đề</th>
			<th>Tác giả</th>
			<th>Năm phát hành</th>
			<th>Ấn bản</th>
			<th>Ngày trả</th>
			<th>Phí phạt</th>
		</tr>
		<tr th:each="book : ${booksInUse}">
			<td th:text="${book.key.title}"></td>
			<td th:text="${book.key.author}"></td>
			<td th:text="${book.key.releaseYear}"></td>
			<td th:text="${book.key.edition}"></td>
			<td th:text="${book.key.returnDate}"></td>
			<td th:if="${book.value > 0}" style="color:red" th:text="${'$ ' + book.value}"></td>
			<td th:if="${book.value == 0}" th:text="${'$ ' + book.value}"></td>
		</tr>
	</table>

	<h4>Sách đã đặt trước</h4>

	<div th:if="${user.reservedBooks.size() == 0}">
		Không có sách đã đặt trước.
	</div>

	<table id="tablestyle" th:if="${user.reservedBooks.size() > 0}">
		<tr>
			<th>Tiêu đề</th>
			<th>Tác giả</th>
			<th>Năm phát hành</th>
			<th>Ấn bản</th>
			<th>Đặt từ</th>
			<th>Đặt đến</th>
		</tr>
		<tr th:each="book : ${user.reservedBooks}">
			<td th:text="${book.title}"></td>
			<td th:text="${book.author}"></td>
			<td th:text="${book.releaseYear}"></td>
			<td th:text="${book.edition}"></td>
			<td th:text="${book.startReservationDate}"></td>
			<td th:text="${book.endReservationDate}"></td>
		</tr>
	</table>

</div>
</body>
</html>
