<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Thay đổi thông tin sách</title>
	<link rel="stylesheet" type="text/css" th:href="@{/CSS/account-layout.css}">
</head>
<body>
<ul th:replace="page-layout :: employeeNavBar"></ul>
<div class="container">
	<h3>Thay đổi thông tin sách</h3>


	<form action="/employee/books/savebookchange" th:object="${book}" th:method="PUT">
		<div class="row">
			<div class="col-50">
				<Label>ID Sách: </Label>
			</div>
			<div class="col-75">
				<label th:text="${book.bookId}"></label>
				<input type="hidden" th:value="${book.bookId}" th:field="${book.bookId}">
			</div>
		</div>

		<div class="row">
			<div class="col-50">
				<Label>Tiêu đề: </Label>
			</div>
			<div class="col-75">
				<input type="text" th:value="${book.title}" th:field="${book.title}" required="required"/>
			</div>
		</div>

		<div class="row">
			<div class="col-50">
				<label>Tác giả:</label>
			</div>
			<div class="col-75">
				<input type="text" th:value="${book.author}" th:field="${book.author}" required="required"/>
			</div>
		</div>

		<div class="row">
			<div class="col-50">
				<label>Năm phát hành:</label>
			</div>
			<div class="col-75">
				<input type="number" th:value="${book.releaseYear}" th:field="${book.releaseYear}" required="required"/>
			</div>
		</div>

		<div class="row">
			<div class="col-50">
				<label>Phiên bản:</label>
			</div>
			<div class="col-75">
				<input type="number" th:value="${book.edition}" th:field="${book.edition}" required="required"/>
			</div>
		</div>

		<div class="row">
			<div class="col-50">
				<label>Ngày trả:</label>
			</div>
			<div th:if="${book.theUser != null}" class="col-75">
				<input type="text" th:value="${book.returnDate}" required="required" th:field="${book.returnDate}">
			</div>
			<div th:if="${book.theUser == null}" class="col-75">
				<label>Không có ngày trả.</label>
			</div>
			<div th:if="${book.theUser != null}" class="col-75">
				<Label>DD-MM-YYYY</label>
			</div>

		</div>

		<div class="row">
			<div class="col-50">
				<label>Người mượn hiện tại:</label>
			</div>
			<div class="col-75">
				<label th:if="${book.theUser == null}">Không có người mượn hiện tại.</label>
				<label th:if="${book.theUser != null}" th:text="${book.theUser.firstName} + ' ' +  ${book.theUser.lastName}"></label>
			</div>
			<div th:if="${book.theUser != null}" class="col-75" style="width: 450px">
				<input type="checkbox" id="removeCurrentUser" name="removeCurrentUser">
				<input type="hidden" th:value="${book.theUser}" th:field="${book.theUser}">
				<label for="removeCurrentUser">Xóa người mượn hiện tại.</label>
			</div>
		</div>

		<div class="row">
			<div class="col-50">
				<label>Đặt trước từ:</label>
			</div>
			<div th:if="${book.reservedByUser != null}" class="col-75">
				<input type="text" th:value="${book.startReservationDate}" required="required" th:field=${book.startReservationDate}>
			</div>
			<div th:if="${book.reservedByUser == null}" class="col-75">
				<label>Không có ngày đặt trước.</label>
			</div>
			<div th:if="${book.reservedByUser != null}" class="col-75">
				<label>DD-MM-YYYY</label>
			</div>
		</div>

		<div class="row">
			<div class="col-50">
				<label>Đặt trước đến:</label>
			</div>
			<div th:if="${book.reservedByUser != null}" class="col-75">
				<input type="text" th:value="${book.endReservationDate}" required="required" th:field=${book.endReservationDate}>
			</div>
			<div th:if="${book.reservedByUser == null}" class="col-75">
				<label>Không có ngày đặt trước.</label>
			</div>
			<div th:if="${book.reservedByUser != null}" class="col-75">
				<label>DD-MM-YYYY</label>
			</div>
		</div>

		<div class="row">
			<div class="col-50">
				<label>Đặt trước bởi người mượn:</label>
			</div>
			<div class="col-75">
				<label th:if="${book.reservedByUser == null}">Không có người mượn đặt trước.</label>
				<label th:if="${book.reservedByUser != null}" th:text="${book.reservedByUser.firstName} + ' ' +  ${book.reservedByUser.lastName}"></label>
			</div>
			<div th:if="${book.reservedByUser != null}" class="col-75" style="width: 450px">
				<input type="checkbox" id="removeReservation" name="removeReservation">
				<input type="hidden" th:value="${book.reservedByUser}" th:field="${book.reservedByUser}">
				<label for="removeCurrentUser">Xóa đặt trước và làm sách có sẵn.</label>
			</div>
		</div>


		<div class="row">
			<div class="col-50">
			</div>
			<div class="col-75">
				<input type="submit" value="Gửi">
				<input type="hidden" name="_csrf" th:value="${_csrf.token}">
				<input type="hidden" name="_method" th:value="PUT">
			</div>
		</div>
	</form>
</div>
</body>
</html>
