<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Bạn có chắc không?</title>

	<link rel="stylesheet" type="text/css" th:href="@{/CSS/account-layout.css}">
</head>
<body>

<div class="container">

	<h3>Bạn có chắc chắn muốn xóa cuốn sách này không?</h3>

	<div class="row">
		<div class="col-50">
			<label>Tiêu đề:</label>
		</div>
		<div class="col-75">
			<label th:text="${deleteBook.title}"></label>
		</div>
	</div>

	<div class="row">
		<div class="col-50">
			<label>Tác giả:</label>
		</div>
		<div class="col-75">
			<label th:text="${deleteBook.author}"></label>
		</div>
	</div>

	<div class="row">
		<div class="col-50">
			<label>Năm phát hành:</label>
		</div>
		<div class="col-75">
			<label th:text="${deleteBook.releaseYear}"></label>
		</div>
	</div>

	<div class="row">
		<div class="col-50">
			<label> Ấn bản:</label>
		</div>
		<div class="col-75">
			<label th:text="${deleteBook.edition}"></label>
		</div>
	</div>

	<div class="row">
		<div class="col-50">
			<form action="/employee/books/deletebook" th:method="DELETE">
				<input type="submit" value="Xóa cuốn sách" style="background-color: red">
				<input type="hidden" th:value="${deleteBook.bookId}" name="deleteBookId">
				<input type="hidden" name="_method" th:value="DELETE">
				<input type="hidden" name="_csrf" th:value="${_csrf.token}">
			</form>
		</div>
		<div class="col-75">
			<input type="submit" value="Hủy bỏ mà không xóa" style="width: 200px">
		</div>
	</div>
</div>

</body>
</html>
